<h2>File Upload</h2>
<div fileDragDrop (filesChangeEmitter)="fromDropper($event)" class="drop-block">
  <div class="input-block">
    <input
      #fileUpload
      type="file"
      class="file-input"
      />
      <!-- (change)="onFileSelected($event)" -->
    <button
      mat-mini-fab
      color="primary"
      class="upload-btn"
      (click)="fileUpload.click()"
    >
      Upload a file
      <!-- <mat-icon>attach_file</mat-icon> -->
    </button>
  </div>
  <h4>
      or drop the file in this block
  </h4>
</div>

<!-- <p>File: {{ newFile | json }}</p> -->
<p>File name: {{ uploadFileName }}</p>
<p>File type: {{ uploadFileType }}</p>
<p *ngIf="uploadFileType != 'image/png'">
  File content: {{ uploadFileContent }}
</p>
<img *ngIf="uploadFileType == 'image/png'" [src]="url" height="200" alt="" />

<!-- <h1>SAVE FILE</h1>

<label>File name</label> <input type="text" [(ngModel)]="saveFileName"/> <br/>
<label>File content:</label> <input type="text" [(ngModel)]="saveFileContent" /> <br/> 
<label>File extension:</label> <input type="text" [(ngModel)]="saveFileExtension" /> <br/> 

<button 
(click)="onSaveFile()"> Save file
</button>  -->

<button (click)="openConfirmDialog()">Open Dialog</button>
